@mixin scrollbar($width, $bg-track, $bg-thumb, $parent : null) {

  @at-root #{$parent}::-webkit-scrollbar {
    width: $width;
  }

  @at-root #{$parent}::-webkit-scrollbar-track:hover {
    background: $bg-track;
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 100%;
  }

  @at-root #{$parent}::-webkit-scrollbar-thumb {
    background: $bg-thumb;
    border-radius: $width;
  }
}
