$text-primary-dark: #f8f1f1;
$text-secondary-dark: #303131;
$secondary-dark: #f5d782;

$vue-primary: #2c3e50;
$text-secondary-light: #f8f9fa;
$primary-light: #111;
$secondary-light: #41ba82;

$slider-blue: #057bfe;

$bg-body-dark: #2f2f2f;
$bg-footer-dark: #1a1a1a;

$bg-body-light: #fafafa;
$bg-footer-light: #d0d0d0;

$bootstrap-card-dark: #343a40;
$bootstrap-card-light: #f8f9fa;

$switch-button-dark: #272c2f;

$node-dark: #6a6868;
