@import 'variables';
@import 'mixins';
@import 'transitions';

//Taken from https://stackoverflow.com/questions/59855732/vuelidate-shaking-the-incorrect-input-field
.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
//-------
.miniInput {
  width: 2em;
}
.smallInput {
  width: 50px;
}
.horizontallyCentered {
  position:relative;
  left:50%;
  transform: translateX(-50%);
}
.verticallyCentered {
  position:relative;
  top:50%;
  transform: translateY(-50%);
}
.centered {
  position:relative;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.mediumInput {
  width: 25%;
}

.iconEnabled{
  opacity: 1;
  cursor: pointer;
  z-index: 1;
}

.iconDisabled{
  opacity: 0.5;
}

.iconDark {
  color: $secondary-dark;
}

.iconLight {
  color: $primary-light;
}

.cyclesIconLeft {
  margin-right: 5px;
}
.cyclesIconRight {
  margin-left: 5px;
}

.cyclesIconRight, .cyclesIconLeft {
   -webkit-user-select: none;
   -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.darkInputForm {
  background-color: $text-secondary-dark;
  border: 1px solid $primary-light;
  color: $text-primary-dark;
}

.darkInputForm::placeholder {
  color: #888;
}

.cyclesDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.inputForm {
  margin: 0 0 0 1em ;

}

.disabledText {
  color: #909090;
}
.text-card {
  $margin: .2em;
//  box-shadow: 0 0 5px 0px #ffffff3e;
//  border: 1px solid #ffffff0a;
  width: 100%;
  height: 100%;
  border-radius: .7em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  &-spaced {
    margin: 1em;
  }
  &-dark {
    background: linear-gradient(-117deg, #262626e6, #1a1818e6);
    box-shadow: -5px -5px 15px 0 #ffffff1a;
  }
  &-light {
    background: linear-gradient(312deg, #faf8f8, #f9e9e9e6);
    box-shadow: -5px -5px 15px 0 #c5c5c57d;
  }
  &-dark:before {
    box-shadow: 5px 5px 10px 0 #000000;
  }
  &-light:before {
    box-shadow: 5px 5px 10px 0 #00000042;
  }
  &:before{
    content: '';
    border-radius: .7em;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
  }
  & p {
    margin-bottom: $margin;
  }
  & hr {
    width:100%;
  }
  & hr.hr-dark {
    border-top: 1px solid $text-primary-dark; 
    margin-top: .4rem;
  }
  & hr.hr-light{
    border-top: 1px solid $vue-primary; 
    margin-top: .4rem;
  }
  &-wider span, &-higher span{
    font-size: .8rem;
  }
  &-wider {
    height: 50%;
//    max-width: 50vh;
    max-height: calc((100vh - 8.5em)/2);
  }
  &-higher {
    width: 50%;
    max-height: 50vw;
  }
  &-wider:first-child {
    margin-bottom: $margin;
  }
  &-wider:last-child {
    margin-top: $margin;
  }
  &-higher:first-child {
    margin-right: .625em;
  }
  &-higher:last-child {
    margin-left: .625em;
  }
}
/*classes for bootstrap buttons*/
.btn-outline-dark, .btn-outline-dark:disabled, .btn-outline-dark.disabled{
  color: $secondary-dark;
  border-color: $secondary-dark;
}
.btn-outline-light, .btn-outline-light.disabled, .btn-outline-light:disabled {
  color: $primary-light;
  border-color: $primary-light;
}
.btn-outline-dark:hover:not(:disabled):not(.disabled) {
    color: $text-secondary-dark;
    background-color: $secondary-dark;
    border-color: $secondary-dark;
}
.btn-outline-light:hover:not(:disabled):not(.disabled) {
    color: $text-secondary-light;
    background-color: $primary-light;
    border-color: $primary-light;
}
/* ----- */
/* Slider */
.slider {
  height:8px;
  width: 33%;
  border-radius:25px;
  z-index: 1;
}

.darkSlider, .darkSlider:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline:none;
  border:1px solid $primary-light;
  background: $text-secondary-dark;
}
.lightSlider, .lightSlider:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline:none;
  border:1px solid #9a9b9b;
  background: #fff;
}

.darkSlider::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius:100%;
  background: $secondary-dark;
  cursor: pointer;
  border: 0 solid transparent;
}

.darkSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius:100%;
  background: $secondary-dark;
  cursor: pointer;
  border: 0 solid transparent;

}

.lightSlider::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius:100%;
  background: #999;
  cursor: pointer;
  border: 0 solid transparent;
}

.lightSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius:100%;
  background: #999;
  cursor: pointer;
  border: 0 solid transparent;
}

.boldElement {
  font-weight: bold;
}

.lightText a {
  font-weight: bold;
  color: $vue-primary;
}

.darkText a {
  font-weight: bold;
  color: $text-primary-dark;
}

.bodyScrollbar {
  @include mx-scrollbar(.38em, $node-dark, $secondary-dark);
}

